@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<h1>fsdf</h1>

@code {
    private int currentCount = 0;
    private string abc = "test";

    private void IncrementCount()
    {
        currentCount++;
    }
}
