@page "/ourvision"
@using Core.Models.Domain;
@using Core.Models.Repository;
@inject ISectionRepository _sectionRepository
@inject IPageRepository _pageRepository
@inject IConfiguration config

@foreach(var _section in _sections)
{
	
<h1 class = "Title" style = "margin-bottom : 40px; text-align: center">
	Our Vision
</h1>
<p>&nbsp;</p>
<div class = "our-vision">

<h3 class = "section-title">@_section.Title</h3>
<h5 style = "font-weight: 100">@_section.Content</h5>
<img src = "@CreateWebPath(_section.ImageUrl)" alt ="OurVisionImage"/>
</div>
}

@code {
	private List<Section> _sections = new List<Section>();
	private Page _page= new Page();
	protected override async Task OnParametersSetAsync()
	{
		_page = await _pageRepository.GetByUrlAsync("/ourvision");
		_sections = await _sectionRepository.GetSectionsByPageId(_page.Id);

		await base.OnInitializedAsync();
	}

	private string CreateWebPath(string relativePath)
	{
		return Path.Combine(config.GetValue<string>("WebStorageRoot")!, relativePath);
	}
}
