@inherits LayoutComponentBase

<PageTitle>EducationGuide</PageTitle>

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>
    <div class="nav-bar-container">
        <NavMenu />
    </div>
</div>
