@using Core.Models.Domain;
@using Core.Models.Repository;

<div class = "navbar">

	   <h2>

		   <a  class = " name" href="/">Education Guide</a>
	   </h2>

   <RadzenMenu Click="OnParentClicked" style = "justify-content: right;">
			<RadzenMenuItem  Text="Home" Path="/">

			</RadzenMenuItem>

			<RadzenMenuItem Text="Learn" >
				<RadzenMenuItem Text="Tutors" Path="tutors"></RadzenMenuItem>
				<RadzenMenuItem Text="Support Client" Path="contact"></RadzenMenuItem>
				<RadzenMenuItem Text="Contact" Path="contact" ></RadzenMenuItem>
			</RadzenMenuItem>
			<RadzenMenuItem Text="Our Vision" Path="ourvision">
			</RadzenMenuItem>
			<RadzenMenuItem Text="About Us" Path = "aboutus"></RadzenMenuItem>
	</RadzenMenu>
</div>



@code {

	void OnParentClicked(MenuItemEventArgs args)
	{

	}

	void OnChildClicked(MenuItemEventArgs args)
	{

	}
}
