<div class = "navbar" style="background: transparent;">

	   <h2>

		   <a  class = " name" href="/home">Education Guide</a>
	   </h2>

   <RadzenMenu Click="OnParentClicked" style = "justify-content: right;">
			<RadzenMenuItem  Text="Home">

			</RadzenMenuItem>

			<RadzenMenuItem Text="Learn" >
				<RadzenMenuItem Text="Tutors" Path="tutors"></RadzenMenuItem>
				<RadzenMenuItem Text="Support Client" Path="textbox"></RadzenMenuItem>
				<RadzenMenuItem Text="Contact" Path="textarea" ></RadzenMenuItem>
			</RadzenMenuItem>

			<RadzenMenuItem Text="Our Vision">

			</RadzenMenuItem>

	</RadzenMenu>
</div>



@code {

	void OnParentClicked(MenuItemEventArgs args)
	{

	}

	void OnChildClicked(MenuItemEventArgs args)
	{
	}
}
